* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shell { height: 100vh;
        width: 100%;
        overflow: hidden;
}


.box { min-height: 50px;
       background-color: rgb(28, 113, 199);
       padding: 10px;
       border: 1px solid white;}

.engaged-box { height: 50px;
               background-color: greenyellow;
               padding: 10px;
               border: 1px solid white; 
              }
                