* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box { min-height: 50px;
       background-color: rgb(0, 109, 250);
       color: white;
       text-align: center;
       line-height: 25px;
      padding: 10px;
       border: 1px solid white;}

.engaged-box { height: 50px;
               background-color: rgb(1, 225, 101);
               padding: 10px;
               border: 1px solid rgb(118, 147, 155); 
              }

.boxdouble { min-height: 100px;
                background-color: rgb(0, 109, 250);
               padding: 10px;
                border: 1px solid white;}
                